<!-- Services Section -->
<section id="missions" class="services content-section" style="background-color: #ec1968;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 style="color: #fff;">Missões e Iniciativas de Transformação</h2>
      </div><!-- /.col-md-12 -->
      <div class="container">
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-3">
            <img src="<%= image_path('mission/animando-coracoes-branco.png')%>" class="img-responsive">
          </div><!-- /.col-md-3 -->
          <div class="col-md-3">
            <img src="<%= image_path('mission/jovens-no-cantagalo-branco.png')%>" class="img-responsive">
          </div><!-- /.col-md-3 -->
          <div class="col-md-3">
            <img src="<%= image_path('mission/coral-dos-jovens-branco.png')%>" class="img-responsive">
          </div><!-- /.col-md-3 -->
          <div class="col-md-3">
            <img src="<%= image_path('mission/pequena-semente-branco.png')%>" class="img-responsive">
          </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-3 col-md-offset-1">
            <img src="<%= image_path('mission/sao-tomas-de-aquino-branco.png')%>" class="img-responsive">
          </div><!-- /.col-md-3 col-md-offset-1 -->
          <div class="col-md-3">
            <img src="<%= image_path('mission/terco-dos-jovens-branco.png')%>" class="img-responsive">
          </div><!-- /.col-md-3 -->
          <div class="col-md-4">
            <img src="<%= image_path('mission/comida-no-prato-branco.png')%>" class="img-responsive">
          </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
        <div class="row text-center">
          <div class="col-md-12">
            <img src="<%= image_path('mission/ejc-70-icon.png')%>" style="display: inline-table;" class="img-responsive">
            <h3 class="caption white">Encontro de Jovens com Cristo</h3>
            <div class="col-md-9">
              <p style="color: #fff; text-align: left;">Um grande mergulho no infinito interior, este evento é um retiro de 2 dias conduzido por jovens cheios de amor e fé. Muito especial e cheio de boas surpresas, é uma experiência única que há 30 anos conecta jovens com a sua espiritualidade.</p>
              <p style="color: #fff; text-align: left;">
                <b>Quando:</b> 21 e 22 de Outubro de 2017<br/>
                <b>Aonde acontece:</b> Colégio São Paulo, Ipanema - RJ
              </p>
            </div><!-- /.col-md-9 -->
            <div class="col-md-3">
              <%= link_to 'Inscreva-se', inscricao_path, class: 'btn btn-overcolor', style: 'background-color: #ec1968; vertical-align: middle; margin-top: 70px;' %>
            </div><!-- /.col-md-3 -->
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
